html {
	background: #999999;
	padding: 30px;
}
body {
	background: #ffffff;
	width: 80%;
	margin: auto;
	padding: 30px;
}

p , ul, ol, li, table, td, th {
	font-size: 1em;
	font-family: 'Times New Roman', Times, serif;
	line-height: 1.5em;
	color: black;
	text-align: justify
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Times New Roman', Times, serif;
	color: black;
}


img {
    width: 100%
}